
<h1> {{ page.title }} </h1>
  
  
  {% for terms in site.terms %}

  
  {% assign pos = terms.pos %}
  {% if pos == "verb" %}
  <!--verbs-->
  <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front--verb">{{ terms.title }}</div>
        <div class="card__face card__face--back">
          <div class="di-v">{{ terms.secondppstem }}<u>{{ terms.infend }}</u></div>
          <div class="def">{{ terms.meaning }}</div>
        </div>
      </div>
  </div>
  {% endif %}
  
  {% if pos == "noun" %}
  <!--nouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n">{{ terms.stem }}<u>{{ terms.genend }}</u>   {{ terms.abbgender }}</div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "nounthird" %}
  <!--nouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n">{{ terms.genitive }}   {{ terms.abbgender }}</div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "totadjective" %}
  <!--adjectives-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adjective">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-adj"> {{ terms.femstem }}<u>{{ terms.femend }}</u>, {{ terms.neutstem}}<u>{{ terms.neutend}}</u></div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "altadjective" %}
  <!--adjectives-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adjective">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-adj">{{ terms.adjforms }}</div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "adverb" %}
  <!--adverbs-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adverb">{{ terms.title }}</div>
      <div class="card__face card__face--back"><div class="def-only">{{ terms.meaning }}</div></div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "preposition" %}
  <!--preposition-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--preposition">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-prep">{{ terms.di }}</div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <!--conjunction-->
  {% if pos == "conjunction" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--conjunction">{{ terms.title }}</div>
      <div class="card__face card__face--back"><div class="def-only">{{ terms.meaning }}</div></div>
    </div>
  </div>
  {% endif %}

  <!--conjugated verb-->
  {% if pos == "conjverb" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--verb">{{ terms.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-v">{{ terms.di }}</div>
        <div class="def">{{ terms.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}

  {% endfor %}

  <h2>Phrases</h2>
    <!--phrase-->
    {% for terms in site.terms %}
    {% assign pos = terms.pos %}
    {% if pos == "phrase" %}
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front--phrase"><span style="background-color: #6ed1ff">{{ terms.adjective }}</span> <span style="background-color:#ffb01f">{{ terms.verb }}</span></div>
        <div class="card__face card__face--back">
          <div class="def-only">{{ terms.meaning }}</div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <h2>Prepositional Phrases</h2>
    {% for terms in site.terms %}
    {% assign pos = terms.pos %}
    {% if pos == "prepphrase" %}
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front--prepphrase">{{ terms.title }}</div>
        <div class="card__face card__face--back">
            <div class="di-prepphrase">{{ terms.di }}</div>
            <div class="def-prepphrase">{{ terms.meaning }}</div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  
  <h2>Infinitive Conjugations</h2>
  {% for infinitives in site.infinitives %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--infverb">{{ infinitives.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-infconj"> {{ infinitives.conj }}</div>
        <div class="def">{{ infinitives.meaning }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
