<div class="container pc">
    <!--carousel, includes next/prev buttons-->
    <div id="cw" class="row text-center">
      <div class="col">
  
      <!--carousel-->
      <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <!--cover card-->

        <div class="carousel-item active">
          <div class="scene-bg scene--card-bg">
            <div class="card__face-bg card__face--front-bg demo">{{ page.title }}</div>
          </div>
        </div>

            <!--card list-->
            {% for terms in site.terms %}
            {% assign ch = terms.ch %}
            {% assign pos = terms.pos %}
            {% assign conj = terms.conjugation %}
            {% assign declension = terms.declension %}
      
            {% if ch == page.ch %}
      
            {% unless pos == "adverb" or pos == "interjection" or pos == "conjunction" or pos == "perspronoun" or pos == "prepdual" or pos == "phrase" or pos == "composite" %}
            <div class="carousel-item">
              <div class="scene-bg scene--card-bg">
                <div class="card-bg">
                  <div class="card__face-bg card__face--front-bg {{ pos }} la-text">
                    <div class="card--top--front-bg d-flex justify-content-between">
                    <div class="leftcorner-bg d-flex justify-content-center">
                      {% if terms.allmeanings %}
                      <!--rep class is used to stop propagation-->
                      <button class="ch rep" data-bs-toggle="modal" data-bs-target="#sparkleModal">
                          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                          <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                          </svg>
                      </button>
                      {% endif %}
                    </div>
                    <div class="rightcorner-bg d-flex justify-content-center">
                      {% if terms.haudio %}
                      <audio id="haudio-{{ terms.slug }}" src="{{ terms.haudio }}"></audio>
                      <button class="audio ch rep" onclick="document.getElementById('haudio-{{ terms.slug }}').play()">
                          <svg data-bs-toggle="tooltip" data-bs-title="voiced by {{ terms.voice }}" class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                        <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                        <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                        <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                          </svg>
                        </button>
                      {% endif %}
                    </div>
                  </div>
                  <div class="term-bg">{{ terms.title }}</div>
                  </div>
      
                  <div class="card__face-bg card__face--back-bg">

                      {%- include di.html -%}

                    <div class="card--top--back-bg">
                      <div class="rightcorner-bg">
                          {% if terms.eaudio %}
                          <audio id="eaudio-{{ terms.slug }}" src="{{ terms.eaudio }}"></audio>
                          <button class="audio ch rep" onclick="document.getElementById('eaudio-{{ terms.slug }}').play()">
                        <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                          <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                          <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                          <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                        </svg>
                          </button>
                          {% endif %}
             
                      </div>
                    </div>
        
                    <div class="def-bg">{{ terms.meaning }}</div>
                   
                  {% assign derivative = terms.derivative %}
                  {% assign derivatives = terms.derivatives %}
                  {% if derivative %}
                  <div class="derivative-bg">derivative: {{ terms.derivative }}</div>
                  {% endif %}
                  {% if derivatives %}
                  <div class="derivative-bg">derivatives: {{ terms.derivatives }}</div>
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="p-5">
                {{ terms }}

                
              </div>
            </div>
            {% endunless %}

            {% if pos == "adverb" or pos == "interjection" or pos == "conjunction" or pos == "perspronoun" %}
            <div class="carousel-item">
              <div class="scene-bg scene--card-bg">
                <div class="card-bg">
                  <div class="card__face-bg card__face--front-bg {{ pos }} la-text">
                    <div class="card--top--front-bg d-flex justify-content-between">
                    <div class="leftcorner-bg d-flex justify-content-center">
                      {% if terms.allmeanings %}
                      <!--rep class is used to stop propagation-->
                      <button class="ch rep" data-bs-toggle="modal" data-bs-target="#sparkleModal">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                      </svg>
                    </button>
                      {% endif %}
                    </div>
                    <div class="rightcorner-bg d-flex justify-content-center">
                      {% if terms.haudio %}
                      <audio id="haudio-{{ terms.slug }}" src="{{ terms.haudio }}"></audio>
                      <button class="audio ch rep" onclick="document.getElementById('haudio-{{ terms.slug }}').play()">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                        <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                        <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                        <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                      </svg>
                        </button>
                      {% endif %}
      
           
                    </div>
                  </div>
                  <div class="term-bg">{{ terms.title }}</div>
                  </div>
                  <div class="card__face-bg card__face--back-bg">
                      <div class="card--top--back-bg d-flex justify-content-end">
                        <div class="rightcorner-bg d-flex justify-content-center">
                            {% if terms.eaudio %}
                            <audio id="eaudio-{{ terms.slug }}" src="{{ terms.eaudio }}"></audio>
                            <button class="audio ch rep" onclick="document.getElementById('eaudio-{{ terms.slug }}').play()">
                          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                          </svg>
                            </button>
                            {% endif %}
        
               
                        </div>
                      </div>
          
          
                      <div class="def-only-bg">{{ terms.meaning }}</div>
          
                      {% assign derivative = terms.derivative %}
                    {% assign derivatives = terms.derivatives %}
                    {% if derivative %}
                    <div class="derivative-bg">derivative: {{ terms.derivative }}</div>
                    {% endif %}
                    {% if derivatives %}
                    <div class="derivative-bg">derivatives: {{ terms.derivatives }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="p-5">
                {{ terms }}
              </div>
            </div>
            {% endif %}

            {% if pos == "phrase" %}
            <div class="carousel-item">
              <div class="scene-bg scene--card-bg">
                <div class="card-bg">
                  <div class="card__face-bg card__face--front-bg {{ pos }} la-text">
                    <div class="card--top--front-bg d-flex justify-content-between">
                    <div class="leftcorner-bg d-flex justify-content-center">
                      {% if terms.allmeanings %}
                      <!--rep class is used to stop propagation-->
                      <button class="ch rep" data-bs-toggle="modal" data-bs-target="#sparkleModal">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                      </svg>
                    </button>
                      {% endif %}
                    </div>
                    <div class="rightcorner-bg d-flex justify-content-center">
                      {% if terms.haudio %}
                      <audio id="haudio-{{ terms.slug }}" src="{{ terms.haudio }}"></audio>
                      <button class="audio ch rep" onclick="document.getElementById('haudio-{{ terms.slug }}').play()">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                        <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                        <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                        <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                      </svg>
                        </button>
                      {% endif %}
      
           
                    </div>
                  </div>
                  <div class="term-bg"><span class="adj la-text">{{ terms.adjective }}</span> <span class="verb la-text">{{ terms.verb }}</span> <span class="noun la-text">{{ terms.noun }}</span> <span class="noun la-text">{{ terms.noun1 }}</span> <span class="verb la-text">{{ terms.verb2 }}</span></div>
                  </div>
                  <div class="card__face-bg card__face--back-bg">
                      <div class="card--top--back-bg d-flex justify-content-end">
                        <div class="rightcorner-bg d-flex justify-content-center">
                            {% if terms.eaudio %}
                            <audio id="eaudio-{{ terms.slug }}" src="{{ terms.eaudio }}"></audio>
                            <button class="audio ch rep" onclick="document.getElementById('eaudio-{{ terms.slug }}').play()">
                          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                          </svg>
                            </button>
                            {% endif %}
        
               
                        </div>
                      </div>
          
          
                      <div class="def-only-bg">{{ terms.meaning }}</div>
          
                      {% assign derivative = terms.derivative %}
                    {% assign derivatives = terms.derivatives %}
                    {% if derivative %}
                    <div class="derivative-bg">derivative: {{ terms.derivative }}</div>
                    {% endif %}
                    {% if derivatives %}
                    <div class="derivative-bg">derivatives: {{ terms.derivatives }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="p-5">
                {{ terms }}
              </div>
            </div>
            {% endif %}

            {% if pos == "composite" %}
            <div class="carousel-item">
              <div class="scene-bg scene--card-bg">
                <div class="card-bg">
                  <div class="card__face-bg card__face--front-bg {{ pos }} la-text">
                    <div class="card--top--front-bg d-flex justify-content-between">
                    <div class="leftcorner-bg d-flex justify-content-center">
                      {% if terms.allmeanings %}
                      <!--rep class is used to stop propagation-->
                      <button class="ch rep" data-bs-toggle="modal" data-bs-target="#sparkleModal">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                      </svg>
                    </button>
                      {% endif %}
                    </div>
                    <div class="rightcorner-bg d-flex justify-content-center">
                      {% if terms.haudio %}
                      <audio id="haudio-{{ terms.slug }}" src="{{ terms.haudio }}"></audio>
                      <button class="audio ch rep" onclick="document.getElementById('haudio-{{ terms.slug }}').play()">
                      <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                        <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                        <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                        <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                      </svg>
                        </button>
                      {% endif %}
      
           
                    </div>
                  </div>
                  <div class="term-bg"><span class="noun la-text">{{ terms.noun }}</span><span class="prep la-text">{{ terms.prep }}</span></div>
                  </div>
                  <div class="card__face-bg card__face--back-bg">
                      <div class="card--top--back-bg d-flex justify-content-end">
                        <div class="rightcorner-bg d-flex justify-content-center">
                            {% if terms.eaudio %}
                            <audio id="eaudio-{{ terms.slug }}" src="{{ terms.eaudio }}"></audio>
                            <button class="audio ch rep" onclick="document.getElementById('eaudio-{{ terms.slug }}').play()">
                          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                          </svg>
                            </button>
                            {% endif %}
        
               
                        </div>
                      </div>
          
          
                      <div class="def-only-bg">{{ terms.meaning }}</div>
          
                      {% assign derivative = terms.derivative %}
                    {% assign derivatives = terms.derivatives %}
                    {% if derivative %}
                    <div class="derivative-bg">derivative: {{ terms.derivative }}</div>
                    {% endif %}
                    {% if derivatives %}
                    <div class="derivative-bg">derivatives: {{ terms.derivatives }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="p-5">
                {{ terms }}
              </div>
            </div>
            {% endif %}

            {% if pos == "prepdual" %}
<div class="carousel-item">
<div class="scene-bg scene--card-bg">
  <div class="card-bg">
    <div class="card__face-bg card__face--front--bg preposition la-text">
      <div class="card--top--front-bg d-flex justify-content-between">
        <div class="leftcorner-bg d-flex justify-content-center">
          {% if terms.allmeanings %}
          <!--rep class is used to stop propagation-->
          <button class="ch rep" data-bs-toggle="modal" data-bs-target="#sparkleModal">
          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
          </svg>
          </button>
          {% endif %}
        </div>
        <div class="rightcorner-bg d-flex justify-content-center">
          {% if terms.haudio %}
          <audio id="haudio-{{ terms.slug }}" src="{{ terms.haudio }}"></audio>
          <button class="audio ch rep" onclick="document.getElementById('haudio-{{ terms.slug }}').play()">
          <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
            <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
          </svg>
          </button>
          {% endif %}
        </div>
      </div>
      <div class="term-bg">{{ terms.title }}</div>
    </div>
    <div class="card__face card__face--back">
      {% if terms.diaudio1 %}
              <div class="card--top--back-bg di-bg di-prep-one-bg preposition la-text d-flex justify-content-between">
                <div class="leftcornerb-bg"></div>
                <div>{{ terms.dione }}</div>
                <div class="rightcorner-bg">
                    <audio id="diaudio-{{ terms.slug }}" src="{{ terms.diaudio }}"></audio>
                    <button class="audio ch rep" onclick="document.getElementById('diaudio-{{ terms.slug }}').play()">
                  <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                    <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                    <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                  </svg>
                    </button>
                </div>
              </div>
              {% else %}
                <div class="card--top--back-bg di-bg di-prep-one-bg preposition la-text d-flex justify-content-center">
                    <div>{{ terms.dione }}</div>
                </div>
              {% endif %}
      <div class="prep-meaning-one-bg">{{ terms.meaningone }}</div>

      {% if terms.diaudio2 %}
              <div class="card--top--back-bg di-bg di-prep-two-bg preposition la-text d-flex justify-content-between">
                <div class="leftcornerb-bg"></div>
                <div>{{ terms.ditwo }}</div>
                <div class="rightcorner-bg">
                    <audio id="diaudio-{{ terms.slug }}" src="{{ terms.diaudio }}"></audio>
                    <button class="audio ch rep" onclick="document.getElementById('diaudio-{{ terms.slug }}').play()">
                  <svg class="d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                    <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                    <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                  </svg>
                    </button>
                </div>
              </div>
              {% else %}
                <div class="card--top--back-bg di-bg di-prep-two-bg preposition la-text d-flex justify-content-center">
                    <div>{{ terms.ditwo }}</div>
                </div>
              {% endif %}
      <div class="prep-meaning-two-bg">{{ terms.meaningtwo }}</div>
    </div>
  </div>
</div>
</div>
{% endif %}
            


            {% endif %}
            {% endfor %}
         </div>

  </div>
  <!--carousel control-->
  <div class="carousel-control justify-content-around d-flex">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><!--carousel control closes-->
  </div>
          
  </div>
</div>

