<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-theme="dark" tabindex="-1" id="offcanvasScrollingMl" aria-labelledby="offcanvasScrollingLabelMl">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingMl">Settings</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
    Term Design
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="toggleSwitchColor" checked>
        <label class="form-check-label" for="toggleSwitchColor">Color-code Parts of Speech</label>
      </div>
      <br>
      <hr>


      Dictionary Information<br>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="toggleAbbreviate">
        <label class="form-check-label" for="toggleAbbreviate">Abbreviate</label>
      </div>
      <br>

      <!--<div class="d-flex flex-row justify-content-start">
        <div>Verb Principal Parts</div>
  
        <div class="px-3">
          <select class="form-select" id="verbpp">
            <option value="2pp" selected>2</option>
            <option value="4pp">4</option>
          </select>
        </div>
      </div>-->
    

      <hr>
      Macrons (ā, ē, ī, ō, ū)
      <div class="form-check">
        <input class="form-check-input" type="radio" name="macronToggle" id="essentialMacrons" value="essential" checked>
        <label class="form-check-label" for="essentialMacrons">
          Essential (2nd conjugation infinitives)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="macronToggle" id="keepMacrons" value="keep">
        <label class="form-check-label" for="keepMacrons">
          All
        </label>
      </div>
      <!--<div class="form-check">
        <input class="form-check-input" type="radio" name="macronToggle" id="removeMacrons" value="remove">
        <label class="form-check-label" for="removeMacrons">
          None
        </label>
      </div>-->
      <hr>



    



  </div>
  </div>
