
    <!--Front-->
    <div class="card__face-bg card__face--front-bg {{ pos }} la-text">
        <div class="card--top--front-bg d-flex justify-content-between">
        <div class="leftcorner-bg d-flex justify-content-center">
          {%- include btns/sparkle-btn.html -%}
        </div>
        <div class="rightcorner-bg d-flex justify-content-center">
          {%- include btns/h-btn.html -%}
        </div>
      </div>
      <!--Term-->
      <div class="term-bg"><div>{%- include card7-bg/card-front-dib-bg7.html -%}</div></div>
      </div>
  
      <!--Back-->
      <div class="card__face-bg card__face--back-bg">
          {%- include card7-bg/card-back-dib-bg7.html -%}
      </div>
  
  
  
  
  
  