<div class="accordion caro-accordion" id="accordionExample">
    <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alter1" aria-expanded="false" aria-controls="alter1">
              {%- include svgs/pencil.svg -%}&#160; Example Sentence
            </button>
          </h2>
          <div id="alter1" class="accordion-collapse collapse">
            <div class="accordion-body">
              Flavia 
              <a data-bs-toggle="tooltip" data-bs-title="girl">puella</a>
              <a data-bs-toggle="tooltip" data-bs-title="another"><span class="{{ page.pos }}-underline">altera</span></a>
              <a data-bs-toggle="tooltip" data-bs-title="is">est.</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#altera" aria-expanded="false" aria-controls="altera">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
</svg>&#160; Latin Adjectives
            </button>
          </h2>
          <div id="altera" class="accordion-collapse collapse">
            <div class="accordion-body">
              A common pattern of Latin adjectives is <i>-us/-r</i>, <i>-a</i>, <i>-um</i> (2-1-2) in which the forms are presented in the masculine, feminine, and neuter.<br>
              <ul class="list-group p-4">
                    <li class="list-group-item">Example: alter, altera, alterum<br>(Abbreviated: alter, -a, -um)</li>
                    <li class="list-group-item p-3">
                      alter &#x2192; masculine<br>
                      altera &#x2192; feminine<br>
                      alterum &#x2192; neuter<br>
                    </li>
                  </ul>
              In the example sentence above, <i>altera</i> is chosen to modify <i>puella</i> because <i>-a</i> is the feminine ending. Consider the alternative examples below:
              <ul class="list-group p-4">
                    <li class="list-group-item">Example 1: Masculine</li>
                    <li class="list-group-item p-3">
                    <a data-bs-toggle="tooltip" data-bs-title="another"><span class="{{ page.pos }}-underline">alter</span></a>
                    <a data-bs-toggle="tooltip" data-bs-title="boy">puer</a>
                    <a data-bs-toggle="tooltip" data-bs-title="walks">ambulat.</a></li>
                  </ul>
              <ul class="list-group p-4">
                    <li class="list-group-item">Example 2: Neuter</li>
                    <li class="list-group-item p-3"><a data-bs-toggle="tooltip" data-bs-title="another"><span class="{{ page.pos }}-underline">alterum</span></a> <a data-bs-toggle="tooltip" data-bs-title="temple">templum</a> <a data-bs-toggle="tooltip" data-bs-title="It is">est.</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alter2" aria-expanded="false" aria-controls="alter2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16"><path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
</svg>         &#160;Translation Tip
            </button>
          </h2>
          <div id="alter2" class="accordion-collapse collapse">
            <div class="accordion-body text-start">
              Adjectives often come after the noun they modify. Watch out for adjectives that are predicate nominatives.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alter3" aria-expanded="false" aria-controls="alter3">
              {% include svgs/synroll.svg %}
			         &#160; Synonym
            </button>
          </h2>
          <div id="alter3" class="accordion-collapse collapse">
            <div class="accordion-body">
              alius, alia, aliud
            </div>
          </div>
        </div>
      </div>