<div class="container pc">
    <!--carousel, includes next/prev buttons-->
    <div id="cw" class="row text-center">
      <div class="col">
  
      <!--carousel-->
      <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <!--cover card-->

        <div class="carousel-item active">
          <div class="scene-bg scene--card-bg">
            <div class="card__face-bg card__face--front-bg demo">Grammar Terms</div>
          </div>
        </div>


            <div class="carousel-item">
              <div class="scene-bg scene--card-bg">
                <div class="card-bg">
                  <div class="card__face-bg card__face--front-bg verb">
                    <div class="term-bg">5 Characteristics of Verbs</div>
                  </div>
      
                  <div class="card__face-bg card__face--back-bg">
                    <ol>
                        <li>Person</li>
                        <li>Number</li>
                        <li>Tense</li>
                        <li>Voice</li>
                        <li>Mood</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Person</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        Who does the action <br>
                        (1st, 2nd, 3rd)
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">1st Person</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        I / We
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">2nd Person</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        You / You all
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">3rd Person</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        He / She / It / They
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Number</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        How many? <br>
                        (singular or plural)
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Tense</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        <u>When</u> an action takes place <br>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Voice</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        If the subject does or receives the action? <br>
                        (Active or Passive)
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Mood</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        The Speaker's Attitude <br>
                        (Indicative, Imperative, Subjunctive)
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Indicative</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        Factual
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg verb">
                      <div class="term-bg">Imperative</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        Command
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="scene-bg scene--card-bg">
                  <div class="card-bg">
                    <div class="card__face-bg card__face--front-bg noun">
                      <div class="term-bg">Three Characteristics of Nouns</div>
                    </div>
        
                    <div class="card__face-bg card__face--back-bg">
                        <ol>
                            <li>Gender</li>
                            <li>Number</li>
                            <li>Case</li>
                        </ol>
                    </div>
                  </div>
                </div>
              </div>
              
              

          

      </div><!--ends carousel-->


      <!--carousel control-->
  <div class="carousel-control carousel-control-gram justify-content-around d-flex">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><!--carousel control closes-->
      </div><!--ends init. col-->
    </div><!--ends init. row-->
</div><!--ends container-->