
        <!--Front-->
        <div class="card__face card__face--front demo">
            <div class="card--top--back">
                <div class="rightcorner">
                    {%- include btns/e-btn.html -%}
                </div>
              </div>
        
              <div class="def-only">
                <div>{{ terms.meaning }}{% if terms.2meaningch contains page.ch %}, {{ terms.2meaning }} {% endif %}</div>
              </div>
        
              <!--Note-->
              {% assign note = terms.note %}
                {% if note %}
              <div class="def-note-dif">
                note: {{ terms.note }}
              </div>
              {% endif %}
             
 
        </div>
    
        <!--Back-->
        <div class="card__face card__face--back {{ pos }} la-text">
            <div class="card--top--front d-flex justify-content-between">
                <div class="leftcorner d-flex justify-content-center">
                  {%- include btns/sparkle-btn.html -%}
                </div>
                <div class="rightcorner d-flex justify-content-center">
                  {%- include btns/la-btn.html -%}
                </div>
              </div>
              <!--Change term-bg class?-->
              <div class="term"><div>{%- include card7/card-front-dif7.html -%}</div></div>
        </div>
