<!--verbs 1,3,4-->
{% if pos == "verb" and conj == "first" or conj == "third" or conj == "fourth" %}
{{ terms.title }}, <span class="expdi">{{ terms.secondppstem }}</span>&#8205;{{ terms.infend }}
{% endif %}

<!--2nd conj-->
{% if pos == "verb" and conj == "second" %}
{{ terms.title }}, <span class="expdi">{{ terms.secondppstem }}</span>&#8205;<span class="essm">{{ terms.infend }}</span>
{% endif %}

<!--irregular conj-->
{% if pos == "verb" and conj == "irregular" %}
{{ terms.title }}, {{ terms.inf }}
{% endif %}

<!--verbs (conjugated)-->
{% if pos == "conjverb" %}
{{ terms.title }}
<div class="conj-note">{{ terms.di }}</div>
{% endif %}

<!--nouns 1&2-->
{% if pos == "noun" %}
{{ terms.title }}, <span class="expdi">{{ terms.stem }}</span>&#8205;{{ terms.genend }}&nbsp;{{ terms.abbgender }}
{% endif %}

<!--exnounsecond (2nd decl. stem exceptions)-->
{% if pos == "exnounsecond" %}
{{ terms.title }}, {{ terms.genitive }}&nbsp;{{ terms.abbgender }}
{% endif %}

<!--nouns 3-->
{% if pos == "nounthird" %}
{{ terms.title }}, {{ terms.genitive }}&nbsp;{{ terms.abbgender }}
{% endif %}

<!--nouns 5-->
{% if pos == "nounfifth" %}
{{ terms.title }}, <span class="expdi">{{ terms.stem }}</span>&#8205;{{ terms.genend }}&nbsp;{{ terms.abbgender }}
{% endif %}

<!--nouns indecl-->
{% if pos == "nouni" %}
{{ terms.title }} {{ terms.abbgender }}
<div class="disamb-note">{{ terms.disamb }}</div>
{% endif %}

<!--pronouns-->
{% if pos == "pronoun" %}
{{ terms.title}} ({{ terms.abbgender }})
{% endif %}

<!--personal pronouns-->
{% if pos == "perspronoun" %}
{{ terms.title}}
{% endif %}

<!--pronoun third (with gender)-->
{% if pos == "pronounthird" %}
{{ terms.title }} {{ terms.genitive }} {{ terms.abbgender }}
<div class="disamb-note">{{ terms.disamb }}</div>
{% endif %}

<!--tot pronouns (ille, illa, illud, etc)-->
{% if pos == "totpronoun" %}
{{ terms.femstem }}</span>{{ terms.femend }}, <span class="expdi">{{ terms.neutstem }}</span>{{ terms.neutend }}</div>
{% endif %}

<!--adjectives 212-->
{% if pos == "totadjective" %}
{{ terms.title }}, <span class="expdi">{{ terms.femstem }}</span>&#8205;{{ terms.femend }}, <span class="expdi">{{ terms.neutstem }}</span>&#8205;{{ terms.neutend }}
{% endif %}

<!--adjectives 212: noster ... maybe alter & miser?-->
{% if pos == "extotadjective" %}
{{ terms.title }}, <span class="expdi">{{ terms.femstem }}</span>&#8205;{{ terms.femend }}, <span class="expdi">{{ terms.neutstem }}</span>&#8205;{{ terms.neutend }}
{% endif %}

<!--indeclinable adjectives (numbers)-->
{% if pos == "iadj" %}
{{ terms.title }}
{% endif %}

<!--3rd adjectives-->
{% if pos == "thirdadjective" %}
{{ terms.title }}, <span class="expdi">{{ terms.femstem }}</span>&#8205;{{ terms.femend }}, <span class="expdi">{{ terms.neutstem }}</span>&#8205;{{ terms.neutend }}
{% endif %}

<!--3rd adjectives: single termination-->
{% if pos == "thirdadjst" %}
{{ terms.title }}, {{ terms.genitive }}
{% endif %}

<!--adjectives (alt)-->
{% if pos == "altadjective" %}
{{ terms.title }}, {{ terms.adjforms }}
<div class="disamb-note">{{ terms.disamb }}</div>
{% endif %}

<!--adverbs-->
{% if pos == "adverb" %}
{{ terms.title }}
<div class="disamb-note">{{ terms.disamb }}</div>
{% endif %}

<!--conjunctions-->
{% if pos == "conjunction" %}
{{ terms.title }}
<div class="disamb-note">{{ terms.disamb }}</div>
{% endif %}

<!--interjections-->
{% if pos == "interjection" %}
{{ terms.title }}
{% endif %}

<!--prepositions-->
{% if pos == "preposition" %}
{{ terms.title }}
<div class="disamb-note">{{ terms.di }}</div>
{% endif %}

<!--composite-->
{% if pos == "composite" %}
<span class="noun la-text">{{ terms.noun }}</span><span class="prep la-text">{{ terms.prep }}</span>
{% endif %}

<!--prepphrase-->
{% if pos == "prepphrase" %}
<span class="prep la-text">{{ prepphrase.preposition }}</span> <span class="noun la-text">{{ prepphrase.noun }}</span>&#8205;<span class="essm">{{ prepphrase.ablend }}</span>
{% endif %}

<!--other phrases-->
{% if pos == "phrase" %}
<span class="adj la-text">{{ terms.adjective }}<span class="essm">{{ terms.ablend }}</span></span> <span class="verb la-text">{{ terms.verb }}</span> <span class="noun la-text">{{ terms.noun }}</span> <span class="noun la-text">{{ terms.noun1 }}</span> <span class="verb la-text">{{ terms.verb2 }}</span>
{% endif %}