    <!--DI cards-->
    {% unless pos == "adverb" or pos == "interjection" or pos == "conjunction" or pos == "perspronoun" or pos == "prepdual" or pos == "phrase" or pos == "composite" or pos == "iadj" or pos =="conjverb" or pos =="pronounthird"%}
    {%- include card/di.html -%}
    <div class="card--top--back">
      <div class="leftcornerb"></div>
      <div class="rightcorner">
        {%- include btns/e-btn.html -%}
     </div>
     </div>

     <div class="def">
        <div>{{ terms.meaning }}{% if terms.2meaningch contains page.ch %}, {{ terms.2meaning }} {% endif %}</div>
      </div>

      <!--Note-->
      {% assign note = terms.note %}
        {% if note %}
      <div class="def-note-dib">
        note: {{ terms.note }}
      </div>
      {% endif %}

    
     
    <!--Derivative-->
    {% assign derivative = terms.derivative %}
    {% assign derivatives = terms.derivatives %}
    {% if derivative %}
    <div class="derivative-dib">derivative: {{ terms.derivative }}</div>
    {% endif %}
    {% if derivatives %}
    <div class="derivative-dib">derivatives: {{ terms.derivatives }}</div>
    {% endif %}

    
    {% endunless %}
    

    {% if pos == "adverb" or pos == "interjection" or pos == "conjunction" or pos == "perspronoun" or pos == "prepdual" or pos == "phrase" or pos == "composite" or pos == "iadj" or pos == "conjverb" or pos =="pronounthird" %}
    <div class="card--top--back">
        <div class="rightcorner">
            {%- include btns/di-btn.html -%}
        </div>
    </div>
      <div class="def-only">
        <div>{{ terms.meaning }}{% if terms.2meaningch contains page.ch %}, {{ terms.2meaning }} {% endif %}</div>
      </div>

      <!--Note-->
      {% assign note = terms.note %}
    {% if note %}
      <div class="def-note">
        note: {{ terms.note }}
      </div>
      {% endif %}

    
     
    <!--Derivative-->
    {% assign derivative = terms.derivative %}
    {% assign derivatives = terms.derivatives %}
    {% if derivative %}
    <div class="derivative-dib">derivative: {{ terms.derivative }}</div>
    {% endif %}
    {% if derivatives %}
    <div class="derivative-dib">derivatives: {{ terms.derivatives }}</div>
    {% endif %}

{% endif %}