{% if page.title == "Ch. 21-2 Principal Parts" %}

  {%- include ppthru/ppthru20.html -%}
  
{% endif %}

{% if page.title == "Ch. 23 Principal Parts" %}

  {%- include ppthru/ppthru22.html -%}
  
{% endif %}

{% if page.title == "Ch. 24 Principal Parts" %}

  {%- include ppthru/ppthru23.html -%}
  
{% endif %}

{% if page.title == "Ch. 25 Principal Parts" %}

  {%- include ppthru/ppthru24.html -%}
  
{% endif %}

{% if page.title == "Ch. 26 Principal Parts" %}

  {%- include ppthru/ppthru25.html -%}
  
{% endif %}

{% if page.title == "Ch. 27 Principal Parts" %}

  {%- include ppthru/ppthru26.html -%}
  
{% endif %}

{% if page.title == "Ch. 28 Principal Parts" %}

  {%- include ppthru/ppthru27.html -%}
  
{% endif %}

{% if page.title == "Ch. 29 Principal Parts" %}

  {%- include ppthru/ppthru28.html -%}
  
{% endif %}

{% if page.title == "Ch. 30 Principal Parts" %}

  {%- include ppthru/ppthru29.html -%}
  
{% endif %}

{% if page.title == "Ch. 31 Principal Parts" %}

  {%- include ppthru/ppthru30.html -%}
  
{% endif %}

{% if page.title == "Ch. 32 Principal Parts" %}

  {%- include ppthru/ppthru31.html -%}
  
{% endif %}

{% if page.title == "Ch. 33 Principal Parts" %}

  {%- include ppthru/ppthru32.html -%}
  
{% endif %}

{% if page.title == "Ch. 34 Principal Parts" %}

  {%- include ppthru/ppthru33.html -%}
  
{% endif %}