---
layout: base
---
{%- include custom-nav.html -%}


<container class="vocabcontainer container-fluid">
  <div class="row text-center">
    <div class="col">
    
<h1> {{ page.title }} </h1>
  
  
{% for terms8 in site.terms8 %}


{% assign pos = terms8.pos %}
{% if pos == "verb" %}
<!--verbs-->
<div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--verb">{{ terms8.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-v">{{ terms8.secondppstem }}<u>{{ terms8.infend }}</u></div>
        <div class="def">{{ terms8.meaning }}</div>
        {% assign note = terms8.note %}
        {% if note %}
        <div class="def-note-small">note: {{ terms8.note }}</div>
        {% endif %}
        {% assign derivative = terms8.derivative %}
        {% if derivative %}
        <div class="derivative">derivative: {{ terms8.derivative }}</div>
        {% endif %}
      </div>
    </div>
</div>
{% endif %}

{% if pos == "noun" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n">{{ terms8.stem }}<u>{{ terms8.genend }}</u>   <u>{{ terms8.abbgender }}</u></div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "nounthird" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n"><u>{{ terms8.genitive }}</u>   <u>{{ terms8.abbgender }}</u></div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "pronoun" %}
<!--pronouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n">{{ terms8.genitive }}   {{ terms8.abbgender }}</div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "perspronoun" %}
<!--personal pronouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "totadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj"> {{ terms8.femstem }}<u>{{ terms8.femend }}</u>, {{ terms8.neutstem}}<u>{{ terms8.neutend}}</u></div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "altadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj">{{ terms8.adjforms }}</div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "altadjective2" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">{{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "adverb" %}
<!--adverbs-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adverb">
      <div class="rightcorner">
        {% assign repeat = terms8.repeat %}
        {% if repeat == "yep" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 20 20">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
        </svg>
        {% endif %}
      </div>
    <div class="term">{{ terms8.title }}</div>
    </div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "preposition" %}
<!--preposition-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--preposition">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-prep">{{ terms8.di }}</div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--conjunction-->
{% if pos == "conjunction" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--conjunction">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--interjection-->
{% if pos == "interjection" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--phrase">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">note: {{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--conjugated verb-->
{% if pos == "conjverb" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-v">{{ terms8.di }}</div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note %}
      <div class="def-note-small">{{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--imperative verb-->
{% if pos == "impverb" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb">{{ terms8.title }}</div>
    <div class="card__face card__face--back">
        <div class="di-v">{{ terms8.di }}</div>
      <div class="def">{{ terms8.meaning }}</div>
      {% assign note = terms8.note %}
      {% if note  %}
      <div class="def-note-small">{{ terms8.note }}</div>
      {% endif %}
      {% assign derivative = terms8.derivative %}
      {% if derivative %}
      <div class="derivative">derivative: {{ terms8.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% endfor %}


  <!--<h2>Prepositional Phrases</h2>-->
  {% for terms8 in site.terms8 %}
  {% assign pos = terms8.pos %}
  {% if pos == "prepphrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase"><span style="background-color: #6dd978;">{{ terms8.preposition }}</span> <span style="background-color:#ffe433">{{ terms8.noun }}</span></div>
      <div class="card__face card__face--back">
          <div class="di-prepphrase">{{ terms8.di }}</div>
          <div class="def-prepphrase">{{ terms8.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <!--<h2>Other Phrases</h2>-->
  <!--phrase-->
  {% for terms8 in site.terms8 %}
  {% assign pos = terms8.pos %}
  {% if pos == "phrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase"><span style="background-color: #6ed1ff">{{ terms8.adjective }}</span> <span style="background-color:#ffb01f">{{ terms8.verb }}</span></div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms8.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

<h2>Infinitive Conjugations</h2>
{% for infinitives8 in site.infinitives8 %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--infverb">{{ infinitives8.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-infconj"> {{ infinitives8.conj }}</div>
      <div class="def">{{ infinitives8.meaning }}</div>
    </div>
  </div>
</div>
{% endfor %}

    </div>
  </div>
</container>



<script src="script/code.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>