---
layout: base
---
{%- include custom-nav.html -%}

{%- include sidebar.html -%}

<container id="alph" class="vocabcontainer">
  <div class="row text-center">
    <div class="col">
    
<h1> {{ page.title }} </h1>
  
  
{% for terms9 in site.terms9 %}


{% assign pos = terms9.pos %}
{% if pos == "verb" %}
<!--verbs-->
<div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--verb la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-v la-text">{{ terms9.secondppstem }}<u>{{ terms9.infend }}</u></div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
</div>
{% endif %}

{% if pos == "noun" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n la-text">{{ terms9.stem }}<u>{{ terms9.genend }}</u>   <u>{{ terms9.abbgender }}</u></div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "nounthird" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n la-text"><u>{{ terms9.genitive }}</u>   <u>{{ terms9.abbgender }}</u></div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "pronoun" %}
<!--pronouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n la-text">{{ terms9.genitive }}   {{ terms9.abbgender }}</div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "perspronoun" %}
<!--personal pronouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "totadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj la-text"> {{ terms9.femstem }}<u>{{ terms9.femend }}</u>, {{ terms9.neutstem}}<u>{{ terms9.neutend}}</u></div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "altadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj la-text">{{ terms9.adjforms }}</div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "altadjective2" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "adverb" %}
<!--adverbs-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adverb la-text">
      <div class="rightcorner">
        {% assign repeat = terms9.repeat %}
        {% if repeat == "yep" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 20 20">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
        </svg>
        {% endif %}
      </div>
    <div class="term">{{ terms9.title }}</div>
    </div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "preposition" %}
<!--preposition-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--preposition la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-prep la-text">{{ terms9.di }}</div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if pos == "prepdual" %}
<!--preposition-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--preposition la-text">
      <div class="rightcorner">
        {% assign repeat = terms9.repeat %}
        {% if repeat == "yep" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 20 20">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
        </svg>
        {% endif %}
      </div>
      <div class="term">
        {{ terms9.title }}
      </div>
    </div>
    <div class="card__face card__face--back">
      <div class="di-prep-one la-text">{{ terms9.dione }}</div>
      <div class="prep-meaning-one">{{ terms9.meaningone }}</div>
      <div class="di-prep-two la-text">{{ terms9.ditwo }}</div>
      <div class="prep-meaning-two">{{ terms9.meaningtwo }}</div>
    </div>
  </div>
</div>
{% endif %}

<!--conjunction-->
{% if pos == "conjunction" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--conjunction la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--interjection-->
{% if pos == "interjection" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--phrase la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="def-only">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--conjugated verb-->
{% if pos == "conjverb" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-v la-text">{{ terms9.di }}</div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--imperative verb-->
{% if pos == "impverb" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
        <div class="di-v la-text">{{ terms9.di }}</div>
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--composite-->
{% if pos == "composite" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--phrase la-text"><span class="noun la-text">{{ terms9.noun }}</span><span class="prep la-text">{{ terms9.prep }}</span></div>
    <div class="card__face card__face--back">
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% endfor %}


  <h2>Prepositional Phrases</h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "prepphrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase la-text"><span class="prep la-text">{{ terms9.preposition }}</span> <span class="noun la-text">{{ terms9.noun }}</span></div>
      <div class="card__face card__face--back">
          <div class="di-prepphrase la-text">{{ terms9.di }}</div>
          <div class="def-prepphrase">{{ terms9.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <!--<h2>Other Phrases</h2>-->
  <!--phrase-->
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "phrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase la-text"><span class="adj la-text">{{ terms9.adjective }}</span> <span class="verb la-text">{{ terms9.verb }}</span></div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms9.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

<h2>Infinitive Conjugations</h2>
{% for infinitives9 in site.infinitives9 %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--infverb la-text">{{ infinitives9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-infconj la-text"> {{ infinitives9.conj }}</div>
      <div class="def">{{ infinitives9.meaning }}</div>
    </div>
  </div>
</div>
{% endfor %}

    </div>
  </div>
</container>

<!--Organize by Parts of Speech-->
<container id="pos" class="vocabcontainer">
  <div class="row text-center">
    <div class="col">
    
  <h1> {{ page.title }} </h1>
  
  
  
  
  <h2>Verbs
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Verbs" data-bs-content="A verb shows what a noun is doing or tells what the noun is, was, or will be. In Latin, verbs have three qualities: person, number, and tense.">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "verb" %}
  <!--verbs-->
  <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front--verb la-text">{{ terms9.title }}</div>
        <div class="card__face card__face--back">
          <div class="di-v la-text">{{ terms9.secondppstem }}<u>{{ terms9.infend }}</u></div>
          <div class="def">{{ terms9.meaning }}</div>
          <div class="def-note-small">
            {% assign note = terms9.note %}
            {% if note %}
            note: {{ terms9.note }}
            {% endif %}
          </div>
          {% assign derivative = terms9.derivative %}
          {% if derivative %}
          <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
          {% endif %}
        </div>
      </div>
  </div>
  {% endif %}
  {% endfor %}
  
  
  <h2>Nouns 
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Nouns" data-bs-content="A noun names people, places, things, or ideas. In Latin, nouns have three qualities: gender, case, and number.">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "noun" %}
  <!--nouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n la-text">{{ terms9.stem }}<u>{{ terms9.genend }}</u>   <u>{{ terms9.abbgender }}</u></div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if pos == "nounthird" %}
  <!--nouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n la-text"><u>{{ terms9.genitive }}</u>   <u>{{ terms9.abbgender }}</u></div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
  
  <h2>Pronouns
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Pronouns" data-bs-content="Pronouns take the place of nouns. They refer to people, places, things, or ideas. There are personal, relative, and interrogative pronouns.">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "pronoun" %}
  <!--pronouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n la-text">{{ terms9.genitive }}   {{ terms9.abbgender }}</div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "perspronoun" %}
  <!--personal pronouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "pronounthird" %}
  <!--pronouns-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--noun la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-n la-text">{{ terms9.genitive }}   {{ terms9.abbgender }}</div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% endfor %}
  
  <h2>Adjectives
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Adjectives" data-bs-content="Adjectives modify or describe nouns and pronouns.">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "totadjective" %}
  <!--adjectives-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-adj la-text"> {{ terms9.femstem }}<u>{{ terms9.femend }}</u>, {{ terms9.neutstem}}<u>{{ terms9.neutend}}</u></div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "altadjective" %}
  <!--adjectives-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-adj la-text">{{ terms9.adjforms }}</div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if pos == "altadjective2" %}
  <!--adjectives-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adjective la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
  <h2>Adverbs
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Adverbs" data-bs-content="Adverbs modify or describe verbs, adjectives, and other adverbs.">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "adverb" %}
  <!--adverbs-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--adverb la-text">
        <div class="rightcorner">
          {% assign repeat = terms9.repeat %}
          {% if repeat == "yep" %}
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 20 20">
          <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
          </svg>
          {% endif %}
        </div>
      <div class="term">{{ terms9.title }}</div>
      </div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
  <h2>Prepositions
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Prepositions" data-bs-content="Prepositions show the position or relationship of one noun to another. In Latin, prepositions take on nouns in the accusative and/or ablative cases. See examples in 'prepositional phrases.' ">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "preposition" %}
  <!--preposition-->
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--preposition la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-prep la-text">{{ terms9.di }}</div>
        <div class="def">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if pos == "prepdual" %}
<!--preposition-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--preposition la-text">
      <div class="rightcorner">
        {% assign repeat = terms9.repeat %}
        {% if repeat == "yep" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 20 20">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
        </svg>
        {% endif %}
      </div>
      <div class="term">
        {{ terms9.title }}
      </div>
    </div>
    <div class="card__face card__face--back">
      <div class="di-prep-one la-text">{{ terms9.dione }}</div>
      <div class="prep-meaning-one">{{ terms9.meaningone }}</div>
      <div class="di-prep-two la-text">{{ terms9.ditwo }}</div>
      <div class="prep-meaning-two">{{ terms9.meaningtwo }}</div>
    </div>
  </div>
</div>
{% endif %}
  {% endfor %}
  
  <h2>Conjunctions
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Conjunctions" data-bs-content="Conjunctions join words, phrases, or clauses together.">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "conjunction" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--conjunction la-text">{{ terms9.title }}</div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms9.meaning }}</div>
        <div class="def-note-small">
          {% assign note = terms9.note %}
          {% if note %}
          note: {{ terms9.note }}
          {% endif %}
        </div>
        {% assign derivative = terms9.derivative %}
        {% if derivative %}
        <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
  <!--<h2>Interjections
    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Interjections" data-bs-content="Interjections show emotion. They stand alone and are not part of the subject or the predicate.">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg></a>
  </h2>-->
  <!--interjection-->
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "interjection" %}
  <div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--phrase">{{ terms9.title }}</div>
    <div class="card__face card__face--back"><div class="def-only">{{ terms9.meaning }}</div></div>
  </div>
  </div>
  {% endif %}
  {% endfor %}
  
  
  <!--conjugated verb-->
  {% if pos == "conjverb" %}
  <div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb la-text">{{ terms9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-v la-text">{{ terms9.di }}</div>
      <div class="def">{{ terms9.meaning }}</div>
    </div>
  </div>
  </div>
  {% endif %}
  
  
  
  
  <!--<h2>Prepositional Phrases</h2>-->
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
  {% if pos == "prepphrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase la-text"><span class="prep la-text">{{ terms9.preposition }}</span> <span class="noun la-text">{{ terms9.noun }}</span></div>
      <div class="card__face card__face--back">
          <div class="di-prepphrase la-text">{{ terms9.di }}</div>
          <div class="def-prepphrase">{{ terms9.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <h2>Composite</h2>
  <!--composite-->
  {% for terms9 in site.terms9 %}
  {% assign pos = terms9.pos %}
{% if pos == "composite" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--phrase la-text"><span class="noun la-text">{{ terms9.noun }}</span><span class="prep la-text">{{ terms9.prep }}</span></div>
    <div class="card__face card__face--back">
      <div class="def">{{ terms9.meaning }}</div>
      <div class="def-note-small">
        {% assign note = terms9.note %}
        {% if note %}
        note: {{ terms9.note }}
        {% endif %}
      </div>
      {% assign derivative = terms9.derivative %}
      {% if derivative %}
      <div class="derivative">derivative(s): {{ terms9.derivative }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
  
  
  <h2>Infinitive Conjugations</h2>
  {% for infinitives9 in site.infinitives9 %}
  <div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--infverb la-text">{{ infinitives9.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-infconj la-text"> {{ infinitives9.conj }}</div>
      <div class="def">{{ infinitives9.meaning }}</div>
    </div>
  </div>
  </div>
  {% endfor %}
  
    </div>
  </div>
  </container>


<script src="script/code.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    });
  </script>