---
layout: base
---
{%- include custom-nav.html -%}


<container class="vocabcontainer container-fluid">
  <div class="row text-center">
    <div class="col">
    
<h1> {{ page.title }} </h1>
  
  
{% for terms7 in site.terms7 %}


{% assign pos = terms7.pos %}
{% if pos == "verb" %}
<!--verbs-->
<div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--verb">{{ terms7.title }}</div>
      <div class="card__face card__face--back">
        <div class="di-v">{{ terms7.secondppstem }}<u>{{ terms7.infend }}</u></div>
        <div class="def">{{ terms7.meaning }}</div>
      </div>
    </div>
</div>
{% endif %}

{% if pos == "noun" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n">{{ terms7.stem }}<u>{{ terms7.genend }}</u>   {{ terms7.abbgender }}</div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

{% if pos == "nounthird" %}
<!--nouns-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--noun">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-n">{{ terms7.genitive }}   {{ terms7.abbgender }}</div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

{% if pos == "totadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj"> {{ terms7.femstem }}<u>{{ terms7.femend }}</u>, {{ terms7.neutstem}}<u>{{ terms7.neutend}}</u></div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

{% if pos == "altadjective" %}
<!--adjectives-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adjective">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-adj">{{ terms7.adjforms }}</div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

{% if pos == "adverb" %}
<!--adverbs-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--adverb">{{ terms7.title }}</div>
    <div class="card__face card__face--back"><div class="def-only">{{ terms7.meaning }}</div></div>
  </div>
</div>
{% endif %}

{% if pos == "preposition" %}
<!--preposition-->
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--preposition">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-prep">{{ terms7.di }}</div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

<!--conjunction-->
{% if pos == "conjunction" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--conjunction">{{ terms7.title }}</div>
    <div class="card__face card__face--back"><div class="def-only">{{ terms7.meaning }}</div></div>
  </div>
</div>
{% endif %}

<!--conjugated verb-->
{% if pos == "conjverb" %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--verb">{{ terms7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-v">{{ terms7.di }}</div>
      <div class="def">{{ terms7.meaning }}</div>
    </div>
  </div>
</div>
{% endif %}

{% endfor %}


  <h2>Prepositional Phrases</h2>
  {% for terms7 in site.terms7 %}
  {% assign pos = terms7.pos %}
  {% if pos == "prepphrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase"><span style="background-color: #6dd978;">{{ terms7.preposition }}</span> <span style="background-color:#ffe433">{{ terms7.noun }}</span></div>
      <div class="card__face card__face--back">
          <div class="di-prepphrase">{{ terms7.di }}</div>
          <div class="def-prepphrase">{{ terms7.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <!--<h2>Other Phrases</h2>-->
  <!--phrase-->
  {% for terms7 in site.terms7 %}
  {% assign pos = terms7.pos %}
  {% if pos == "phrase" %}
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front--phrase"><span style="background-color: #6ed1ff">{{ terms7.adjective }}</span> <span style="background-color:#ffb01f">{{ terms7.verb }}</span></div>
      <div class="card__face card__face--back">
        <div class="def-only">{{ terms7.meaning }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

<h2>Infinitive Conjugations</h2>
{% for infinitives7 in site.infinitives7 %}
<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front--infverb">{{ infinitives7.title }}</div>
    <div class="card__face card__face--back">
      <div class="di-infconj"> {{ infinitives7.conj }}</div>
      <div class="def">{{ infinitives7.meaning }}</div>
    </div>
  </div>
</div>
{% endfor %}

    </div>
  </div>
</container>



<script src="script/code.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>