---
layout: base
---

{%- include navs/custom-nav.html -%}

{%- include sidebar.html -%}

{%- include breadcrumb.html -%}

{%- include bbuttons.html -%}

{%- include carousels/carousel7.html -%}

<!--<div class="container-fluid d-flex justify-content-center mt-5">

<div class="row">
    <div class="col">
        headword
    </div>
    <div class="col">
        2nd principal part
    </div>
    <div class="col">
        3rd principal part
    </div>
    <div class="col">
        4th principal part
    </div>
</div>

</div>-->

<p class="mt-5 p-5">
    Dear students, you are now responsible for knowing all four principal parts of verbs. I apologize as I am still figuring out the formatting to accommodate for all 4 principal parts. Happy studying! -Ms. Alexander
</p>

<!-- Sparkle Modal -->
{%- include sparklemodal.html -%}
