---
layout: base
---

{%- include navs/custom-nav.html -%}

{%- include sidebar.html -%}

{%- include breadcrumb.html -%}

{%- include bbuttons.html -%}

{%- include carousels/carousel.html -%}

<div class="mt-5 pt-5">
{%- include termslist.html -%}
</div>

<div class="mt-5 pt-5">
{%- include grids/oggrid.html -%}
</div>

<h2>Feeling good? Take time to review <a href="https://www.discolatin.com/cumulative">cumulative vocabulary.</a></h2>

<!-- Sparkle Modal -->
{%- include sparklemodal.html -%}



  