---
layout: base
---
{%- include navs/custom-nav.html -%}

{%- include sidebar.html -%}

  <h3>Total Words Learned: ~325</h3>
  <h3>Comprising Chapters 1-17</h3>
  <h5>Last Updated: 05/01/2025</h5>

  {%- include bbuttons.html -%}
  {%- include carousels/cumcarousel.html -%}

<div class="mt-5 pt-5">
  {%- include grids/oggridcum.html -%}
</div>

<div class="modal fade" id="sparkleModal" tabindex="-1" aria-labelledby="sparkleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sparkleexampleModalLabel">Stellae! (Stars!)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
       You are required to provide <em>all</em> English meanings for the quiz.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK!</button>
      </div>
    </div>
  </div>
</div>


  