---
layout: base
---

<div class="homecontainer container-fluid">
  <h1>Salvēte, discipulī!</h1>
  <h2 class="home">Thank you for taking the time to study your vocabulary.</h2>

  <!--first button row-->
  <div class="row text-center">
    <div class="col">
      <a href="ch1.html"><button type="button" class="btn btn-info btn-lg">Chapter 1</button></a>
      <a href="ch2.html"><button type="button" class="btn btn-info btn-lg">Chapter 2</button></a>
      <a href="ch3.html"><button type="button" class="btn btn-info btn-lg">Chapter 3</button></a>
      <a href="ch4.html"><button type="button" class="btn btn-info btn-lg">Chapter 4</button></a>
    </div>
  </div>
  <!--second button row-->
  <div class="row text-center">
    <div class="col">
      <a href="ch5.html"><button type="button" class="btn btn-info btn-lg">Chapter 5</button></a>
      <a href="ch6.html"><button type="button" class="btn btn-info btn-lg">Chapter 6</button></a>
      <a href="ch7.html"><button type="button" class="btn btn-info btn-lg">Chapter 7</button></a>
    </div>
  </div>

  <!--third button row-->
  <div class="row text-center">
    <div class="col">
      <a href="gods.html"><button type="button" class="btn btn-info btn-lg">Gods & Godesses</button></a>
    </div>
  </div>

</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>