---
layout: base
---

<div class="homecontainer container-fluid">
  <h1>Salvēte, discipulī!</h1>
  <h2 class="home">Thank you for taking the time to study your vocabulary.</h2>

  <!--first button row-->
  <div class="row text-center">
    <div class="col">
      <a href="ch1.html"><button type="button" class="btn btn-info btn-lg">Chapter 1</button></a>
      <a href="ch2.html"><button type="button" class="btn btn-info btn-lg">Chapter 2</button></a>
      <a href="ch3.html"><button type="button" class="btn btn-info btn-lg">Chapter 3</button></a>
      <a href="ch4.html"><button type="button" class="btn btn-info btn-lg">Chapter 4</button></a>
    </div>
  </div>
  <!--second button row-->
  <div class="row text-center">
    <div class="col">
      <a href="ch5.html"><button type="button" class="btn btn-info btn-lg">Chapter 5</button></a>
      <a href="ch6.html"><button type="button" class="btn btn-info btn-lg">Chapter 6</button></a>
      <a href="ch7.html"><button type="button" class="btn btn-info btn-lg">Chapter 7</button></a>
      <a href="ch8.html"><button type="button" class="btn btn-info btn-lg">Chapter 8</button></a>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <a href="ch9.html"><button type="button" class="btn btn-info btn-lg">Chapter 9</button></a>
      <a href="ch10.html"><button type="button" class="btn btn-info btn-lg">Chapter 10</button></a>
    </div>
  </div>

  <!--third button row-->
  <div class="row text-center">
    <div class="col">
      <a href="gods.html"><button type="button" class="btn btn-light btn-lg">Gods & Godesses</button></a>
      <a href="weekdays.html"><button type="button" class="btn btn-light btn-lg">Weekdays</button></a>
      <a href="questionwords.html"><button type="button" class="btn btn-light btn-lg">Question Words</button></a>
    </div>
  </div>

  <!--fourth button row-->
  <div class="row text-center">
    <div class="col">
      <a href="mt1.html"><button type="button" class="btn btn-warning btn-lg">Midterm Set 1</button></a>
      <a href="mt2.html"><button type="button" class="btn btn-warning btn-lg">Midterm Set 2</button></a>
      <a href="mt3.html"><button type="button" class="btn btn-warning btn-lg">Midterm Set 3</button></a>
    </div>
  </div>

  <!--third button row-->
  <div class="row text-center">
    <div class="col">
      <a href="mt.html"><button type="button" class="btn btn-mt btn-lg cumulative">Midterm Cumulative

        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M12.331 9.5a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5"/>
        </svg>
      </button></a>
    </div>
  </div>


  <!--third button row-->
  <div class="row text-center">
    <div class="col">
      <a href="cumulative.html"><button type="button" class="btn btn-success btn-lg cumulative">MEGA CUMULATIVE

        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M12.331 9.5a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5"/>
        </svg>
      </button></a>
    </div>
  </div>




</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>