---
layout: base
---

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div></div>
  <header class="mb-auto"><div></div> </header> 
        <main class="px-3 pt-5 homegreeting leckerli-one-regular"> <h1>Salvete, discipuli!</h1> 
          <div class="text-center"><img src="../matg.png" width="425px"></div>
          <p class="lead brown">Thank you for taking the time to study your Latin vocabulary!</p><br>
          <div class="text-center">
          <a href="sixth.html"><button type="button" class="btn btn-6 btn-lg">6th Grade</button></a>
          <a href="seventh.html"><button type="button" class="btn btn-6 btn-lg">7th Grade</button></a>
          <a href="weekdays.html"><button type="button" class="btn btn-6 btn-lg">Weekdays</button></a>
          <a href="gods.html"><button type="button" class="btn btn-6 btn-lg">Gods</button></a>
          <a href="questionwords.html"><button type="button" class="btn btn-6 btn-lg">Questions</button></a>
          <a href="familia.html"><button type="button" class="btn btn-6 btn-lg">Familia</button></a>
          <a href="animalia.html"><button type="button" class="btn btn-6 btn-lg">Animalia</button></a>
          <a href="body.html"><button type="button" class="btn btn-6 btn-lg">Body</button></a>
        </div><br><br>
        
        </main>
        
        <footer class="mt-auto text-white-50"> <p class="brown">Site built by <a href="https://msalexanderthegreat.com/" target="_blank">Ms. Alexander</a>.</p> </footer> 
</div>
