---
layout: base
---
{%- include custom-nav.html -%}


<container>
<p class="hw">1. necesse est omnia parāre quod Aurēlia mox surgit et omnēs reprehendere amat.</p>
<p class="hw">2. cūr nondum laborant ancillae?  vīllam curāre necesse est sed ego laborāre nolō.</p>
<p class="hw">3. nunc Dāvum Cornēlius reprehendit dum alter servus, quī ex hortō ambulat, in sīlvam currere potest.</p>
<p class="hw">4. ubi omnēs servī iam in agrīs sunt, Cornēlius puerōs docet aquam in hortum portāre.  </p>
</container>

<container>
<p class="hw">1. necesse est omnia parāre quod Aurēlia mox surgit et omnēs reprehendere amat.</p>
<p class="hw">2. cūr nondum laborant ancillae?  vīllam curāre necesse est sed ego laborāre nolō.</p>
<p class="hw">3. nunc Dāvum Cornēlius reprehendit dum alter servus, quī ex hortō ambulat, in sīlvam currere potest.</p>
<p class="hw">4. ubi omnēs servī iam in agrīs sunt, Cornēlius puerōs docet aquam in hortum portāre.</p>
</container>