---
layout: base
title: Mega List
---

{% for terms in site.terms %}

{% assign ch = terms.ch %}
  {% assign pos = terms.pos %}
  {% assign inactive = terms.inactive %}
  {% assign derivative = terms.derivative %}
  {% assign note = terms.note %}
  {% assign repeat = terms.repeat %}

{% if ch == "one" or ch == "two" or ch == "three" or ch == "four" or ch == "five" or ch == "six" or ch == "seven" or ch == "eight" or ch == "nine" or ch == "ten" or ch == "eleven" or ch == "twelve" or ch == "thirteen" or ch == "fourteen" or ch == "fifteen" or ch == "sixteen" or ch == "seventeen"%}

<p>{{ terms.title }}</p>

{% endif %}
{% endfor %}