---
layout: base
---

{%- include navs/ns-nav.html -%}

{%- include sidebar.html -%}

<h1> {{ page.title }} </h1>
    <p class="text-center">Much easier than English.</p>

<h2 class="mt-5">Vowels</h2>
<p>Lines above vowels (ā, ē, ī, ō, ū) are called <i>macrons</i>. <br>They show vowels that are long.<br><br>
Compare the long and short vowel pronunciations below.</p>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="a-short" src="../assets/audio/a-short.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('a-short').play()">a</button><br>
        <p>"ah" as in <i>aha</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="a-long" src="../assets/audio/a-long.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('a-long').play()">ā</button>
        <p>"ah" as in <i>father</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="e-short" src="../assets/audio/e-short.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('e-short').play()">e</button>
        <p>"eh" as in <i>pet</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="e-long" src="../assets/audio/e-long.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('e-long').play()">ē</button>
        <p>"ay" as in <i>play</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="i-short" src="../assets/audio/i-short.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('i-short').play()">i</button>
        <p>"ih" as in <i>it</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="i-long" src="../assets/audio/i-long.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('i-long').play()">ī</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="o-short" src="../assets/audio/o-short.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('o-short').play()">o</button>
        <p>"o" as in <i>for</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="o-long" src="../assets/audio/o-long.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('o-long').play()">ō</button>
        <p>"oh" as in <i>holy</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="u-short" src="../assets/audio/u-short.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('u-short').play()">u</button>
        <p>"oo" as in <i>foot</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="u-long" src="../assets/audio/u-long.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('u-long').play()">ū</button>
        <p>"ooh" as in <i>boot</i></p>
    </div>
</div>



<h2 class="mt-5">Dipthongs</h2>
<p>Dipthongs are when two vowels make one combined sound:</p>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="ae-dipthong" src="../assets/audio/ae-dipthong.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('ae-dipthong').play()">ae</button>
        <p>pronounced "eye"</i></p>
    </div>
</div>

<!--<h2 class="mt-5">Most Commonly Confused</h2>
<p>Drill the following three sounds below:</p>-->
<!--long ī, long ē, ae-->





<h2 class="mt-5">Consonants</h2>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <audio id="c-consonant" src="../assets/audio/c-consonant.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('c-consonant').play()">c</button><br>
        <p>hard "k" as in <i>cake</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="v-consonant" src="../assets/audio/v-consonant.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('v-consonant').play()">v</button>
        <p>"w" as in <i>water</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="g-consonant" src="../assets/audio/g-consonant.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('g-consonant').play()">g</button>
        <p>hard "g" as in <i>good</i></p>
    </div>
    <div class="col-3-sm">
        <audio id="i-consonant" src="../assets/audio/i-consonant.mp3"></audio>
        <button type="button" class="btn btn-pro" onclick="document.getElementById('i-consonant').play()"><span style="line-height: 12px;">i</span> <br><span style="font-size: 12px; line-height: 12px;">(beginning of word)</span></button>
        <p>"y" as in <i>yes</i></p>
    </div>
</div>

