---
layout: base
---

{%- include ns-nav.html -%}

{%- include sidebar.html -%}

<h1> {{ page.title }} </h1>
    <p class="text-center">Much easier than English.</p>

<h2 class="mt-5">Vowels</h2>
<p>Lines above vowels (ā, ē, ī, ō, ū) are called <i>macrons</i>. <br>They show vowels that are long.<br><br>
Compare the long and short vowel pronunciations below.</p>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">a</button><br>
        <p>"ah" as in <i>aha</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ā</button>
        <p>"ah" as in <i>father</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">e</button>
        <p>"eh" as in <i>pet</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ē</button>
        <p>"ay" as in <i>play</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">i</button>
        <p>"ih" as in <i>it</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ī</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">o</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ō</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
</div>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">u</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ū</button>
        <p>"ee" as in <i>sleep</i></p>
    </div>
</div>



<h2 class="mt-5">Dipthongs</h2>
<p>Dipthongs are when two vowels make one combined sound:</p>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">ae</button>
        <p>pronounced "eye"</i></p>
    </div>
</div>

<!--<h2 class="mt-5">Most Commonly Confused</h2>
<p>Drill the following three sounds below:</p>-->
<!--long ī, long ē, ae-->





<h2 class="mt-5">Consonants</h2>
<div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">c</button><br>
        <p>hard "k" as in <i>cake</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">v</button>
        <p>"w" as in <i>water</i></p>
    </div>
    <div class="col-3-sm">
        <button type="button" class="btn btn-pro">i (beginning of word)</button>
        <p>"y" as in <i>yes</i></p>
    </div>
</div>

