---
layout: base
---
{%- include navs/ns-nav.html -%}
<!--<div class="homecontainer container-fluid">
  <div class="main-t">
    <h1 class="cursive">Discō Latin</h1>
  </div>
</div>-->

<h1 class="mt-5">Because learning is a party!</h1>
<h3>{ <i>discō, discere</i> = to learn }</h3>


<!--<div class="mt-5">
  <h5>Click <a href="https://www.canva.com/design/DAGboWabdC4/bzK3TS9jwULBuSGa2fksBQ/view?utm_content=DAGboWabdC4&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h8002e297d3" target="_blank" style="color:aqua">here</a> for Latin Notebook Guide</h5>
</div>-->

<div class="mt-5">
  <div class="row text-center">
    <div class="col">
      <a href="pronunciation.html"><button type="button" class="btn btn-success btn-lg cumulative">Latin Pronunciation
      </button></a>
    </div>
  </div>
</div>



<div class="mt-5">
  <h1>Vocabulary Flashcards</h1>
  <!--first button row-->
  <div>
  <div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
      <a href="7r.html"><button type="button" class="btn btn-info btn-lg">Review</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch17b.html"><button type="button" class="btn btn-info btn-lg">Chapter 17</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch18.html"><button type="button" class="btn btn-info btn-lg">Chapter 18</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch19.html"><button type="button" class="btn btn-info btn-lg">Chapter 19</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch20.html"><button type="button" class="btn btn-info btn-lg">Chapter 20</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch21_2.html"><button type="button" class="btn btn-info btn-lg">Chapters 21-22</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch23.html"><button type="button" class="btn btn-info btn-lg">Chapter 23</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch24.html"><button type="button" class="btn btn-info btn-lg">Chapter 24</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch25.html"><button type="button" class="btn btn-info btn-lg">Chapter 25</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch26.html"><button type="button" class="btn btn-info btn-lg">Chapter 26</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch28.html"><button type="button" class="btn btn-info btn-lg">Chapter 28</button></a>
    </div>
  
  </div>
  </div>

  <div class="mt-5">
    <div class="row text-center">
      <div class="col">
        <a href="cumulativeseventh.html"><button type="button" class="btn btn-success btn-lg cumulative">MEGA CUMULATIVE
        </button></a>
      </div>
    </div>
  </div>
  
</div>

<div class="mt-5">
  <h1>Principal Parts</h1>

  <div>

  <div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
      <a href="20pp.html"><button type="button" class="btn btn-info btn-lg">Chapter 20</button></a>
    </div>
    <div class="col-3-sm">
      <a href="212pp.html"><button type="button" class="btn btn-info btn-lg">Chapters 21-2</button></a>
    </div>
    <div class="col-3-sm">
      <a href="23pp.html"><button type="button" class="btn btn-info btn-lg">Chapter 23</button></a>
    </div>
    <div class="col-3-sm">
      <a href="24pp.html"><button type="button" class="btn btn-info btn-lg">Chapter 24</button></a>
    </div>
    <div class="col-3-sm">
      <a href="25pp.html"><button type="button" class="btn btn-info btn-lg">Chapter 25</button></a>
    </div>
  </div>

  <div class="mt-5">
    <div class="row text-center">
      <div class="col">
        <a href="cumulativepp.html"><button type="button" class="btn btn-success btn-lg cumulative">CUMULATIVE PP
        </button></a>
      </div>
    </div>
  </div>
  </div>

</div>

<div class="mt-5">
  <h1>Study Guides</h1>
  <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
  </svg> Brought to you by <i>You Know Iuno</i> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
  </svg></h2>
  <div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
      <a href="24testr.html"><button type="button" class="btn btn-info btn-lg">Chapter 24</button></a>
    </div>
  </div>
</div>


<!--<div class="mt-5">
  <h1>Grammar</h1>

  <div>
    <div class="row row-cols-auto button-group g-2">
      <div class="col-3-sm">
        <a href="2ppquiz.html"><button type="button" class="btn btn-info btn-lg">2nd Principal Parts Quiz</button></a>
      </div>
    </div>
  </div>


</div>-->
  
  

  
  

  </div>

  
  <p class="mt-5">Site built by <a style="color:aqua" href="https://msalexanderthegreat.com/" target="_blank">Ms. Alexander</a>.



</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
