---
layout: base
---
{%- include navs/ns-nav.html -%}
<!--<div class="homecontainer container-fluid">
  <div class="main-t">
    <h1 class="cursive">Discō Latin</h1>
  </div>
</div>-->

<h1 class="mt-5">Because learning is a party!</h1>
<h3>{ <i>discō, discere</i> = to learn }</h3>


<!--<div class="mt-5">
  <h5>Click <a href="https://www.canva.com/design/DAGboWabdC4/bzK3TS9jwULBuSGa2fksBQ/view?utm_content=DAGboWabdC4&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h8002e297d3" target="_blank" style="color:aqua">here</a> for Latin Notebook Guide</h5>
</div>-->

<div class="mt-5">
  <div class="row text-center">
    <div class="col">
      <a href="pronunciation.html"><button type="button" class="btn btn-success btn-lg cumulative">Latin Pronunciation
      </button></a>
    </div>
  </div>
</div>




<div class="mt-5">
  <h1>Vocabulary Flashcards</h1>
  <!--first button row-->
  <div>
  <div class="row row-cols-auto button-group g-2">
    <div class="col-3-sm">
      <a href="7r.html"><button type="button" class="btn btn-info btn-lg">Review</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch177.html"><button type="button" class="btn btn-info btn-lg">Chapter 17</button></a>
    </div>
    <div class="col-3-sm">
      <a href="ch18.html"><button type="button" class="btn btn-info btn-lg">Chapter 18</button></a>
    </div>
  
  </div>
  </div>

  <div class="mt-5">
    <div class="row text-center">
      <div class="col">
        <a href="cumulativeseventh.html"><button type="button" class="btn btn-success btn-lg cumulative">MEGA CUMULATIVE
        </button></a>
      </div>
    </div>
  </div>
  
</div>
  
  

  
  

  </div>

  
  <p class="mt-5">Site built by <a style="color:aqua" href="https://msalexanderthegreat.com/" target="_blank">Ms. Alexander</a>.



</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
