---
layout: base
---

{%- include navs/ns-nav.html -%}

<container class="vocabcontainer container-fluid">
    <div class="row text-center">
      <div class="col">
      
  <h1> {{ page.title }} </h1>
  
 
  {% for weekdays in site.weekdays %}

<div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front noun">
        <div class="card--top--front d-flex justify-content-between">
          <div class="leftcorner d-flex justify-content-center">
            {%- include btns/sparkle-btn.html -%}
          </div>
          <div class="rightcorner d-flex justify-content-center">
            {%- include btns/la-btn.html -%}
          </div>
        </div>
        <div class="term">{{ weekdays.title }}</div>
      </div>
      <div class="card__face card__face--back">
        <div class="def-split1">{{ weekdays.litmeaning }}</div>
        <div class="def-split2">{{ weekdays.meaning }}</div>
      </div>
    </div>
</div>

{% endfor %}

</div>
</div>
</container>
